<div class='screen'>
	<div class='wrapper'>
		<div class='header'>
			<img src='/images/goosteroids-logo-small.png'>
		</div>
		<div class='body'>
			<h2 style='margin-bottom:25px;'>Your score is {{score}}</h2>
			<img src='images/twitter-logo-small.png' class='twitter' style='margin-left:auto; margin-right:auto;' >
			<hr style='margin-top:25px;'>
			<table class='high-scores' style='margin-left:auto; margin-right:auto;'>
				<tr>
					<th>Name</th>
					<th>Stage</th>
					<th>Time</th>
					<th>Score</th>
				</tr>
				{{#each scores}}
					<tr>
						<td>{{name}}</td>
						<td>{{stage}}</td>
						<td>{{time}}</td>
						<td>{{score}}</td>
					</tr>
				{{/each}}
			</table>
			<hr style='margin-bottom:25px;'>
			<div style='margin-left:auto; margin-right:auto;'>
				<button class='small about' style='width:150px; margin-right:5px;'>About</button>
				<button class='small play' style='width:150px;'>Play Again</button>
				<button class='small credits' style='width:150px; margin-left:5px;'>Credits</button>
			</div>
		</div>
		<div class='footer'>
			<a href='https://github.com/jrimclean/goosteroids' target='_blank'><img src='/images/github-logo-small.png'></a>
		</div>
	</div>
</div>
